@media only screen and (min-width: 31.5em){


    /*.......nav........*/
    nav ul.open{
        display: flex;
    }

    nav ul li a{
        color:black;
        font-family: 'Libre Franklin';
        font-size: 15px;
        /*padding: 50px;*/
        padding: .5rem 3.5rem;
    }



/*...........main.........*/

main{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.hero{
    grid-column: 1/3;
    width:100%;
}
.intro{
    grid-column: 1/3;
    grid-row: 2/3;
}
.temple{
    grid-column: 1/3;
    grid-row: 3/4;
}
.actividades{
    grid-column: 1/3;
    grid-row: 4/5;
}

.pronostico{
    grid-column: 2/3;
    grid-row: 5/6;
}

/*.........footer...........*/

footer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:auto;
    }
.social-footer{
    grid-column:1/3;
}
.year_data {
  
    text-align: center;   
}
.update_text{
    grid-column:2/3;
}
.formulario .Btn{
    margin-bottom: 0%;
}

footer div{
    margin-top:0px;
    margin-bottom: 0px;
}


/*............Temples page.........*/

@media screen and (min-width: 404px) and (max-width: 904px){
    main{
        grid-template-columns: none;
    }
    .main-temples .cards {
        grid-template: auto / repeat(2, minmax(auto, 1fr));
    }

.title{
    grid-column: 1/3;
}


}
}